

a {
  text-decoration: none;
  padding: 4px;
}

nav {
  text-align: center;
}

body {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}

.container {
  max-width: 900px;
  text-align: center;
}

.page {
  display: inline-block;
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;
}

#edit {
  outline: none;
}

button {
  font-size: 1.25em;
  padding: 8px;
  background-color: #33c;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: #66f;
}

button:active {
  background-color: #11a;
}
