{{outlet}}
<div class="container">
  <div class="page">
    <div id="edit" contenteditable="true">
      {{#each model as |node|}}
        {{{tag-start node}}}
      {{/each}}
    </div>
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancelEdits'}}>Cancel Editing</button>
  </div>
</div>
