{{outlet}}
<div id="main-site">
  <div class="centerizer">
    {{nav-bar}}
    <section class="limit-width centered">
      <h1 class="main-heading">Page</h1>
      <h2>Spend more time building and less time writing code.</h2>
      <p>Page is a web application that allows you to create and edit HTML and CSS documents online with an intuitive interface. </p>
      <div class="centerizer pad-top">
        <button>Get Started</button>
      </div>
    </section>
  </div>
</div>
